.container {
  border: 3px solid black;
  box-shadow: 0 2px 15px 0 black;
  background: white;
  margin: 20px auto;
  width: 500px
}

.Post {
  text-align: center;
}

.Post-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Post-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  line-height: 15px;
  color: white;
}

.Post-title {
  font-size: 1.5em;
}

.Post-intro {
  font-size: large;
}

nav {
  background: rgb(237, 254, 255);
  padding: 10px;
}

.link {
  font-size:16px;
  color: black;
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
